@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
	color: white;
}

html {
	background-color: #000000;
}

*:focus {
	outline: 1px solid #ea580c;
}
